body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Navigation Bar */

a {
  color: #fff;
  text-decoration: none;
}

/* use even more specific css, example

header.container {

}

1. this way one would no that you are talking about the headers container
2. Optionally You can also change the class names and make them more meaningfull, example .header-container

*/
.container {
  display: flex;
  height: 91px;
  width: 100%;
  background: #1ebea5;
}

.inner-container {
  width: 1070px;
  /* never use fix widths, plesae remove this */
  /* if you want to use fix width then it should always come with media queries  */
  /* please free to ask any questions */
  height: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  /* good job using text transform: */
  /* but, you have used text-transform for the entire header, and because of that you are using text-transform: none; */
  /* in the other place. Better way would be to use text-transform wherever it is :required */

  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container-item {
  flex-grow: 2;
}

.menu-list li {
  list-style: none;
  display: inline-block;
  margin: 0px 58px 0px 0px;
}

#lang {
  flex-grow: initial;
  text-align: left;
}

#nav {
  text-align: right;
}

#brand img {
  margin: 0px 5px 0px 10px;
}

.container-item a {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#brand {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-transform: none;
}

/* Section 1 */

#aab1 {
  font-size: 33px;
  line-height: 35px;
  font-weight: 300;
  color: #1c1e21;
}

#aab2 {
  margin: -25px 0px;
  font-size: 16px;
  line-height: 26px;
  color: rgba(48, 48, 48, 0.7);
}

#aab3 {
  margin: 8px 0px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(48, 48, 48, 0.2);
}

#aab4 a {
  color: #1ebea5;
}

#aab4 div {
  margin: 20px 0px;
}

.block-1 {
  display: grid;
  grid-template-columns: 7fr 6fr;
  /* good  attempt at grid layout */
  /* why have you used 7fr and 6fr ? */
}

.block-1a {
  margin: 165px 30px 0px 365px;
  /* bhai dont give margins like that, you will face many problems while making it responsive */
  display: flex;
  flex-direction: column;
}

#scr1 img {
  width: 350px;
}

.block-1b {
  margin: 56px 0px 0px 0px;
  /* bhai dont give margins like that, you will face many problems while making it responsive */
}

/* Section 2 */

.block-2 {
  margin: 40px;
  /* you dont need this margin, refer the orignal website */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 708px;
  grid-gap: 20px;
}

.block-2a {
  border: 0.5px solid #d0e9ea;
  /* dont use large paddings, try and use small padding values and use more and more css for positioning items */
  padding: 75px 88px 0px 88px;
  background: #d0e9ea;
  display: flex;
  flex-direction: column;
}

.block-2b {
  border: 0.5px solid #edf8f5;
  padding: 75px;
  background: #edf8f5;
  display: flex;
  flex-direction: column;
}

#bap2,
#bap3,
#bbp1,
#bbp2,
#bbp3,
#bbp4 {
  margin: 10px 0px;
}

#bap4 {
  margin: 50px 0px 0px 0px;
}

#bap1,
#bbp3 {
  margin: 0px 0 14px 0;
  font-size: 25px;
  /* dont use line height in pixels */
  line-height: 28px;
  font-weight: 300;
  color: rgba(40, 43, 46, 0.9);
  letter-spacing: 0.8px;
}

#bbp2 {
  font-size: 11px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#bbp4,
#bap2 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #282828;
}

#bap3 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #282828;
}

.block-2a a {
  color: #39b3ed;
}

div#bap4 {
  /* good work */
  overflow: hidden;
}

/* i didnt understand how the image is flowing outside, basically how did you position the image */
/* good work, simple CSS and good result */
#bap4 img {
  width: 310px;
}

/* Section 3 */

.block-3 {
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#features-link a {
  color: #1ebea5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.071em;
  line-height: 19px;
  text-transform: uppercase;
  border: 2px solid #77d7c8;
  border-radius: 40px;
  padding: 18px 32px;
}

#features-link {
  margin-bottom: 35px;
}

/*Footer*/

.footer {
  height: 280px;
  /* dont use fixed height value */
  width: 100%;
  background-color: #273443;

  display: flex;
}

.footer-container {
  /* bhai use width with media queries */
  width: 1130px;
  height: 70%;
  /* i actually tried removing this height value, nothing changed, I guess we can remove this */
  margin: auto;
  display: flex;
}

.footer-item {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

.footer-item .footer-label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 22px 0;
}

.footer-item li {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 6px 0;
  color: #fff;
  list-style: none;
}

.footer-item a {
  color: #fff;
  text-decoration: none;
}

.footer-item a:hover {
  text-decoration: underline;
}

.cr {
  height: 60px;
  width: 100%;
  background: #232f3c;

  display: flex;
}

.cr-container {
  height: 100%;
  width: 1130px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.cr-item {
  text-align: left;
}

.cr-item a {
  color: #fff;
  text-decoration: none;
}

.cr-item li {
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}

#cr-item-1 {
  /* instead of using flex-grow so much, start using width, max-width and flex-basis */

  flex-grow: 1;

  color: rgba(255, 255, 255, 0.6);
}

#cr-item-2 {
  /* instead of using flex-grow so much, start using width, max-width and flex-basis */
  /* this way you will have more control */
  /* think this way the complete width is 100% */
  /* now you can divide this width among different blocks */
  flex-grow: 6;
  margin: 0 15px 0 0;
}

/* please have a look at this */

example css for last line of footer

/* .cr-container {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.cr-container:first-child {
  width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}

.cr-container.cr-item {
  width: 75%;
  max-width: 75%;
  flex-basis: 75%;
} */
